# Modelo das variáveis.

# --- Segredos ---
DBAAS_PASSWORD=""      # senha do usuário admin do PostgreSQL
OS_ACCESS_KEY=""       # Access Key do Object Storage (usada pela CDN/ImageKit)
OS_SECRET_KEY=""       # Secret Key do Object Storage

# --- IDs gerados no provisionamento ---
VPC_ID=""
SUBNETPOOL_ID=""
SUBNET_PUBLICA_ID=""
SUBNET_PRIVADA_ID=""
SG_WEB_ID=""
VM_ID=""
VM_PORT_ID=""
PUBLIC_IP=""
DBAAS_ID=""
DBAAS_HOST=""
